@{
	ViewData["Title"] = "My Cart";
	var currUser = (String.IsNullOrEmpty(ViewBag.displayname)) ? "User" : ViewBag.displayname;
	var cart = ViewBag.cart;
}

@section Scripts {
	<script src="/js/cart.js" defer></script>
}

@section DebugInfo {
	<span class="ms-4 text-danger" style="position: absolute; right:0px">@ViewBag.debugInfo</span>
}

@section NavLeft {
	<a class="navbar-brand pe-2">Hello, <span>@currUser</span></a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
			aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
}

@section NavLink {
	<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
		<ul class="navbar-nav flex-grow-1">
			<li class="nav-item">
				<a class="nav-link text-primary" asp-area="" asp-controller="Shop" asp-action="Gallery">Continue Shopping</a>
			</li>
			@if (cart != null && cart.Count > 0) {
				<li class="nav-item">
					<a class="nav-link text-primary" asp-area="" asp-controller="Cart" asp-action="Checkout" id="checkoutLink">Checkout</a>
				</li>
			} else
			{
				<li class="nav-item">
					<a class="nav-link text-primary disable-link" asp-area="" asp-controller="Cart" asp-action="Checkout" id="checkoutLink">Checkout</a>
				</li>
			}

		</ul>
	</div>
}

@section NavRight {
	<div class="d-block">
		<p class="m-0 me-3">Total:&nbsp;&nbsp;&nbsp;&nbsp;$<span id="total-price-display">0.00</span></p>
	</div>
}


<div id="body-cart">
	<h1 class="display-4">My Cart</h1><br />
	
	<div class="product-container">
		@if (cart != null && cart.Count > 0)
		{
			@foreach (CartItem c in cart)
			{				
				<div id="item-container-@c.Id">
					<div class="row product-row justify-content-center mb-4">
						<div class="col-6 col-md-4">
							<div class="card">
								<img src="@c.ImageUrl" class="card-img-top">
								<div class="card-body">
									<h5 class="card-title">@c.Name</h5>
									<p class="card-text desc-height-3">@c.Description</p>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-4 product-details-container">
							<div class="product-details">
								<div class="row">
									<span class="col-4">Price:</span>
									<span class="col-8">$@c.Price</span>
								</div>
								<div class="row">
									<span class="col-4">Quantity:</span>
									<span class="col-8"><input type="number" class="form-control btn-changeQuantity" min="1" data-product-id="@c.Id" data-product-price="@c.Price" value="@c.Quantity" style="max-width:5rem" /></span>
								</div>
								<div class="row">
									<span class="col-4"></span>
									<span class="col-8"><button class="btn btn-danger btn-removeItem" data-product-id="@c.Id">Remove</button></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		}
		else
		{
			<p>Your cart is empty.</p>
		}
	</div>
</div>

<script defer>

</script>

